<section id="header">
        <a href="index.html"><img src="{{url_for('static', filename='Monsterbob.png')}}" height="125px" width="200px" class="logo" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a href="index.html">About</a></li>
                <li><a href="shop.html" class="active">Forum</a></li>
                <li><a href="Blog.html">Finding Your Contractor</a></li>
                <li><a href="About.html">Smart Home Planning</a></li>
                <li><button id="loginbtnNav">Login</button></li>
                <li><button id="registerbtnNav">Register</button></li>
            </ul>
        </div>
</section>