<section id="header">
        <a href="/" id="titlelogo">MonsterBob</a>
        <div>
            <ul id="navbar">
                <li><a href="index.html">About</a></li>
                <li><a href="shop.html" class="active">Forum</a></li>
                <li><a href="Blog.html">Finding Your Contractor</a></li>
                <li><a href="About.html">Smart Home Planning</a></li>
                <li><button id="loginbtnNav">Login</button></li>
                <li><a href="createUser.html">Register</a></li>
            </ul>
        </div>
</section>