{% extends "base.html" %}
{% block title %} MonsterBob - Create Forum Post{% endblock %}
{% from "includes/_formHelper.html" import render_field %}

{% block content %}
<h2>Create a Forum Post</h2>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<form action="{{ url_for('UploadImage')}}" enctype="multipart/form-data" method="POST">
    {{ form.hidden_tag() }}
    {{ render_field(form.Name) }}
    {{ render_field(form.Comment) }}
    {{ render_field(form.file) }}
    {{ render_field(form.submit) }}
</form>




{% if filename %}
<!-- Your code for displaying the uploaded file goes here -->
<img alt="Uploaded Image" src="{{ url_for('static', filename='uploads/' + filename) }}">
{% endif %}

{% endblock %}