<section id="footering">
    <div class="footer">
        <div class="waves">
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
        </div>
        <div class="row">
            <div class="col">
                <ul>
                    <li>
                        <div class="logo"> <a href="" class="footerlink">logo</a></div>
                    </li>
                    <li class="footerlink">adasdas</li>

                </ul>
            </div>
            <div class="col">
                <ul>
                    <li><a href="" class="footerlink">About Us</a></li>
                </ul>
                <ul>
                    <li><a href="" class="footerlink">Blog</a></li>
                </ul>
                <ul>
                    <li><a href="" class="footerlink">Contact Us</a></li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li class="footerlink">+65 999</li>
                </ul>
                <ul>
                    <li class="footerlink">Mopnsterbob@mail.com</li>
                </ul>
                <ul>
                    <li class="footerlink">Singapore</li>
                </ul>
            </div>
            <div class="col">
                <ul class="social">
                    <li><i class="fa-brands fa-facebook-f"></i></li>
                    <li><i class="fa-brands fa-x-twitter"></i></li>
                    <li><i class="fa-brands fa-linkedin-in"></i></li>
                    <li><i class="fa-brands fa-instagram"></i></li>
                </ul>
            </div>
            <p>&copy; 2023 || All Rights Received by MonsterBob</p>
        </div>
</section>