{% extends "base.html" %}
{% block title %}Retrieve Blog{% endblock %}
{% block content %}
  <h1 class="display-4">Retrieve Blog</h1>
  <div>
    {% if count == 0 %}
      <p>No blog entries found.</p>
    {% else %}
      <p>There are {{ count }} blog entries.</p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Blog ID</th>
            <th>Name</th>
            <th>Comment</th>
            <th>Image</th>
          </tr>
        </thead>
        <tbody>
          {% for blog in blog_list %}
            <tr>
              <td>{{ blog.get_Name() }}</td>
              <td>{{ blog.get_Comment() }}</td>
              <td><img src="{{ url_for('static', filename='uploads/' + blog.get_File()) }}" alt="Blog Image"></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
{% endblock %}