{% extends "base.html" %}
{% block title %} MonsterBob - Create Account{% endblock %}
{% from "includes/_formHelper.html" import render_field %}
{% block content %}

<div class="gridcontain">
    <div class="grids">
        <div class="card">
        <a href="basic.html" id="card1"><div class="servicecolleft">
        <div class="cardtop" id="card1">
            
        </div>
        <div class="cardmiddle">
            <h1 class="toptext">Wood</h1>
            <p class="middletext">Maplewood</p>
                <p class="middletext">Price range: $40-$60 per 10 ton</p>
                <p class="middletext">rating 4/5</p>
        </div>
        <div class="cardbottom" id="cardbot1">

        </div>
        </div></a></div>
        <div class="card">
            <a href="anatomy.html" id="card2"><div class="servicecol">
            <div class="cardtop" id="card2" >
                
            </div>
            <div class="cardmiddle">
                <h1 class="toptext">Concrete</h1>
                <p>Reinforced concrete</p>
                
                <br>
                <p class="middletext">$118.80 per cubic metre </p>
                <p class="middletext">rating 4.4/5</p>
            </div>
            <div class="cardbottom" id="card2bot">
    
            </div>
            </div></a></div>
            <div class="card">
                <a href="perspective.html" id="card3"><div class="servicecolright">
                <div class="cardtop" id="card3" >
                    
                </div>
                <div class="cardmiddle">
                    <h1 class="toptext">Marble</h1>
                    <p class="middletext">type: Natural Stone</p>
                    <p class="middletext">price range: $75-$250</p>
                    <p class="middletext">rating 5/5</p>
                
                
                </div>
                <div class="cardbottom" id="card3bot">
        
                </div>
                </div></a></div>
    
    
        <div class="card">
            <a href="fabric.html" id="card4"><div class="servicecolleft">
            <div class="cardtop" id="card4">
                
            </div>
            <div class="cardmiddle">
                <h1 class="toptext">Fabric study</h1>
                <p class="middletext">Fabric studies under textile design covers everything right from fibre to fabric</p>
            </div>
            <div class="cardbottom" id="card4bot">
    
            </div>
            </div></a></div>
            <div class="card">
                <a href="shading.html" id="card5"><div class="servicecol">
                <div class="cardtop" id="card5" >
                    
                </div>
                <div class="cardmiddle">
                    <h1 class="toptext">Shading</h1>
                    <p class="middletext">Shading is the darkening or colouring of a drawing with lines or blocks of colour.</p>
                </div>
                <div class="cardbottom" id="card5bot">
        
                </div>
                </div></a></div>
                
            
                    
        <div class="card">
                <a href="landscape.html" id="card6"><div class="servicecolright">
                <div class="cardtop" id="card6" >
                    
                </div>
                <div class="cardmiddle">
                    <h1 class="toptext">Landscapes</h1>
                    <p class="middletext">the depiction of natural scenery in art</p>
                </div>
                <div class="cardbottom" id="card6bot">
        
                </div>
                </div></a></div>
    </div>
</div>
{% endblock %}